{{define "title"}}Archive{{end}}

{{define "main"}}
    {{if .Posts}}
        <div class="content">
            <ul>
                {{range .Posts}}
                    <li><a href="/posts/{{.ID}}">{{.Title}}</a></li>
                {{end}}
            </ul>
        </div>
    {{else}}
        <p>Nothing to see here yet!</p>
    {{end}}
{{end}}
