{{define "nav"}}
    <nav>
        <ul>
            <li><a href="/"><b>bloggee</b></a></li>
            <li><a href="/archive">Archive</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
{{end}}
